/*
  Специально для тёмной темы при наличии класса,
  здесь окажутся стили, которые нужно переопределить принудительно,
  переключая тему
*/

.page.theme_dark {
	/* сохраните этот селектор в приведённом виде.
    Так стили написанные ниже будут иметь больший вес,
    чем стили в медиазапросе предпочтений пользователя
  */
	--font-family: 'IBM Plex Mono', sans-serif;
	--background: #000028;
	--basedColor: #ff0070;
	--secondaryColor: #f1b2ce;
	--markedColor: #db00ff;
	background-image: url(../images/cover-image-dark.png);
	a:hover {
		border-bottom: 1px solid var(--secondaryColor);
	}

	a:focus {
		border: 1px solid var(--secondaryColor);
		outline-style: none;
	}

	.rec::before,
	.footer::before {
		border-top: 1px solid var(--basedColor);
		border-right: 1px solid var(--basedColor);
	}

	.header::after,
	.footer::after {
		border-bottom: 1px solid var(--basedColor);
		border-left: 1px solid var(--basedColor);
	}

	.rec p,
	.rec::after {
		opacity: 100;
	}

	.header__theme-menu-button {
		color: var(--basedColor);
	}

	.header__theme-menu-button_active {
		border: 1px solid var(--basedColor);
	}

	.header__theme-menu-button:hover {
		border: 1px solid rgba(255, 0, 112, 0.4);
	}

	.header__theme-menu-button:focus {
		border-bottom: 1px solid var(--basedColor);
		outline-style: none;
	}

	.text p {
		color: var(--background);
	}

	.title2 h2 {
		color: var(--basedColor);
	}

	.card-title h3,
	.card-title h2 {
		color: var(--background);
	}

	.title3 h4 {
		color: var(--background);
	}
}
