/*
  Специально для светлой темы при наличии класса.
  Здесь окажутся стили, которые нужно переопределить принудительно,
  переключая тему
*/

.page.theme_light {
	/* сохраните этот селектор в приведённом виде.
    Так стили написанные ниже будут иметь больший вес,
    чем стили в медиазапросе предпочтений пользователя
  */
	--background: #fff1f7;
	--basedColor: #ff8dcb;
	--secondaryColor: #353430;
	--markedColor: #ffc2e6;
	background-image: url(../images/cover-image-light.png);

	a:hover {
		border-bottom: 1px solid var(--secondaryColor);
	}

	a:focus {
		border: 1px solid var(--secondaryColor);
		outline-style: none;
	}

	.nav::before,
	.footer::before {
		border-top: 1px solid var(--secondaryColor);
		border-right: 1px solid var(--secondaryColor);
	}

	.header::after,
	.footer::after {
		border-bottom: 1px solid var(--secondaryColor);
		border-left: 1px solid var(--secondaryColor);
	}

	.rec {
		opacity: 0;
	}

	.header__theme-menu-button {
		color: var(--secondaryColor);
	}

	.header__theme-menu-button_active {
		border: 1px solid var(--secondaryColor);
	}

	.header__theme-menu-button:hover {
		border: 1px solid rgba(50, 49, 45, 0.4);
	}

	.header__theme-menu-button:focus {
		border-bottom: 1px solid var(--secondaryColor);
		outline-style: none;
	}

	.text p {
		color: var(--secondaryColor);
	}

	.title2 h2 {
		color: var(--secondaryColor);
	}

	.card-title h3,
	.card-title h2 {
		color: var(--secondaryColor);
	}

	.title3 h4 {
		color: var(--secondaryColor);
	}
}

@media (prefers-color-scheme: light) {
	:root {
		--background: #fff1f7;
		--basedColor: #ff8dcb;
		--secondaryColor: #353430;
		--markedColor: #ffc2e6;
	}
	.page {
		background-image: url(../images/cover-image-light.png);
	}

	a:hover {
		border-bottom: 1px solid var(--secondaryColor);
	}

	a:focus {
		border: 1px solid var(--secondaryColor);
		outline-style: none;
	}

	.nav::before,
	.footer::before {
		border-top: 1px solid var(--secondaryColor);
		border-right: 1px solid var(--secondaryColor);
	}

	.header::after,
	.footer::after {
		border-bottom: 1px solid var(--secondaryColor);
		border-left: 1px solid var(--secondaryColor);
	}

	.rec {
		opacity: 0;
	}

	.header__theme-menu-button {
		color: var(--secondaryColor);
	}

	.header__theme-menu-button_active {
		border: 1px solid var(--secondaryColor);
	}

	.header__theme-menu-button:hover {
		border: 1px solid rgba(50, 49, 45, 0.4);
	}

	.header__theme-menu-button:focus {
		border-bottom: 1px solid var(--secondaryColor);
		outline-style: none;
	}

	.text p {
		color: var(--secondaryColor);
	}

	.title2 h2 {
		color: var(--secondaryColor);
	}

	.card-title h3,
	.card-title h2 {
		color: var(--secondaryColor);
	}

	.title3 h4 {
		color: var(--secondaryColor);
	}
}
