/* Основные стили проекта. Это стили для темы, которую вы верстаете первой. */

.page {
	/* сохраните в разметке и стилях класс page. На его основе работает скрипт. */
	background-image: url(../images/cover-image-dark.png);
	background-position: center;
	background-size: cover;
	background-attachment: fixed;
}

main,
footer {
	background: var(--background);
}

a {
	text-decoration: none;
}

a:hover {
	border-bottom: 1px solid var(--secondaryColor);
}

a:focus {
	border: 1px solid var(--secondaryColor);
	outline-style: none;
}

.header {
	position: relative;
	display: flex;
	flex-direction: column;
	padding: clamp(0.625rem, 0.0286rem + 2.5445vw, 1.25rem);
	height: 100vh;
	min-height: 668px;
}

.nav {
	display: flex;
	flex-direction: column;
	gap: clamp(2.4375rem, -3.9437rem + 27.2265vw, 9.125rem);
}

.nav::before {
	content: '';
	position: absolute;
	top: clamp(0.625rem, 0.0286rem + 2.5445vw, 1.25rem);
	right: clamp(0.625rem, 0.0286rem + 2.5445vw, 1.25rem);
	width: 25px;
	height: 25px;
	border-top: 1px solid var(--basedColor);
	border-right: 1px solid var(--basedColor);
}

.rec {
	display: flex;
	align-items: center;
	gap: 10px;
	margin: 0px 9px 0px auto;
	color: var(--basedColor);
	font-family: var(--font-family);
	font-weight: 400;
	font-size: 18px;
	line-height: 139%;
}

.rec::after {
	content: '';
	width: 9px;
	height: 9px;
	border-radius: 50%;
	box-shadow: 0 0 4px 2px var(--basedColor);
	fill: var(--basedColor);
	background-color: var(--basedColor);
}

.header__theme-menu {
	margin-left: auto;
}

.header__theme-menu-list {
	display: flex;
	flex-direction: column;
	gap: 10px;
}

.header__theme-menu-button {
	min-width: 70px;
	min-height: 26px;
	border: none;
	padding: 0px 13px;
	color: var(--basedColor);
	font-family: var(--font-family);
	font-weight: 400;
	font-size: 18px;
	line-height: 100%;
	text-transform: lowercase;
	background-color: transparent;
}

.header__theme-menu-button:hover {
	border: 1px solid rgba(255, 0, 112, 0.4);
	cursor: pointer;
}

.header__theme-menu-button:focus {
	border-bottom: 1px solid var(--basedColor);
	outline-style: none;
}

.header__theme-menu-button_active {
	border: 1px solid var(--basedColor);
	pointer-events: none;
}

.title {
	margin-top: clamp(4.0625rem, -2.3783rem + 27.4809vw, 10.8125rem);
	margin-left: clamp(-1.25rem, 1.1927rem + -5.0891vw, 0rem);
}

.title h1 {
	color: var(--markedColor);
	font-family: var(--font-family);
	font-weight: 700;
	font-size: clamp(7.25rem, 7.0115rem + 1.0178vw, 7.5rem);
	line-height: 83%;
	text-shadow: 4px 4px var(--basedColor);
}

.text {
	margin-top: clamp(3.4375rem, -2.9437rem + 27.2265vw, 10.125rem);
	margin-bottom: clamp(4.125rem, -2.8526rem + 29.771vw, 11.4375rem);
	margin-left: clamp(0rem, -21.708rem + 92.6209vw, 22.75rem);
	background: var(--basedColor);
}

.text p {
	color: var(--background);
	font-family: var(--font-family);
	font-weight: 700;
	font-size: 18px;
	line-height: 130%;
}

.header::after {
	content: '';
	position: absolute;
	bottom: clamp(1.25rem, 0.0573rem + 5.0891vw, 2.5rem);
	left: clamp(0.625rem, 0.0286rem + 2.5445vw, 1.25rem);
	width: 25px;
	height: 25px;
	border-bottom: 1px solid var(--basedColor);
	border-left: 1px solid var(--basedColor);
}

.section {
	padding-top: clamp(3.125rem, 1.3359rem + 7.6336vw, 5rem);
	padding-right: clamp(0.625rem, 0.0286rem + 2.5445vw, 1.25rem);
	padding-left: clamp(0.625rem, 0.0286rem + 2.5445vw, 1.25rem);
}

.sectionWhy {
	padding-top: clamp(1.875rem, 1.2786rem + 2.5445vw, 2.5rem);
}

.title2 h2 {
	color: var(--basedColor);
	font-family: var(--font-family);
	font-weight: 700;
	font-size: 18px;
	line-height: 130%;
}

.card-title h3 {
	margin-top: 20px;
	background: var(--basedColor);
}

.main p {
	margin-top: 10px;
}

.card-title:first-child {
	margin-top: clamp(0rem, 2.4427rem + -5.0891vw, 1.25rem);
}

.card-title-simple {
	margin-bottom: 0px;
}

.card-title h2,
.card-title h3 {
	color: var(--background);
	font-family: var(--font-family);
	font-weight: 700;
	font-size: 18px;
	line-height: 130%;
}

.section p {
	color: var(--secondaryColor);
	font-family: var(--font-family);
	font-weight: 400;
	font-size: 18px;
	line-height: 130%;
}

.section a {
	text-shadow: 2px 2px var(--basedColor);
}

.title3 {
	margin: 20px 0px 10px;
	background: var(--basedColor);
}

.title3 h4 {
	color: var(--background);
	font-family: var(--font-family);
	font-weight: 400;
	font-size: 18px;
	line-height: 130%;
}

.card-title-gallery {
	margin-top: 0px;
	margin-bottom: clamp(0.625rem, 0.0286rem + 2.5445vw, 1.25rem);
}

.gallery {
	display: flex;
	flex-direction: column;
	gap: 5px;
}

.sectionGallery {
	padding-top: clamp(1.875rem, -1.1069rem + 12.7226vw, 5rem);
}

.gallery_item {
	width: 100%;
}

.gallery:last-child {
	padding-bottom: clamp(2.5rem, 1.3073rem + 5.0891vw, 3.75rem);
}

.footer {
	position: relative;
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100vh;
	min-height: 668px;
}

.footer::before {
	content: '';
	position: absolute;
	top: clamp(0.625rem, 0.0286rem + 2.5445vw, 1.25rem);
	right: clamp(0.625rem, 0.0286rem + 2.5445vw, 1.25rem);
	width: 25px;
	height: 25px;
	margin-left: 330px;
	border-top: 1px solid var(--basedColor);
	border-right: 1px solid var(--basedColor);
}

.footer h2 {
	color: var(--markedColor);
	font-family: var(--font-family);
	font-weight: 700;
	font-size: clamp(7.25rem, 7.0115rem + 1.0178vw, 7.5rem);
	line-height: 83%;
	text-shadow: 2px 2px var(--basedColor);
}

.footer::after {
	content: '';
	position: absolute;
	bottom: clamp(0.625rem, 0.0286rem + 2.5445vw, 1.25rem);
	left: clamp(0.625rem, 0.0286rem + 2.5445vw, 1.25rem);
	width: 25px;
	height: 25px;
	border-bottom: 1px solid var(--basedColor);
	border-left: 1px solid var(--basedColor);
}

@media (width >= 768px) {
	.nav {
		gap: clamp(9.125rem, -22.75rem + 66.4063vw, 19.75rem);
	}

	.title {
		margin-top: clamp(10.8125rem, -7.9375rem + 39.0625vw, 17.0625rem);
	}

	.title h1 {
		font-size: clamp(7.5rem, 0.5625rem + 14.4531vw, 9.8125rem);
	}

	.text {
		margin-top: clamp(7.125rem, 19.125rem + -18.75vw, 10.125rem);
		margin-bottom: clamp(8.25rem, 21rem + -19.9219vw, 11.4375rem);
		margin-left: clamp(22.75rem, -1.4375rem + 50.3906vw, 30.8125rem);
	}

	.header::after {
		margin-top: clamp(5.5625rem, 17.8125rem + -19.1406vw, 8.625rem);
	}

	.sectionWhy,
	.sectionHow {
		display: grid;
		grid-template-columns: 1fr 2fr;
		gap: 20px;
	}

	.sectionWhat .title2 {
		width: 30%;
	}

	.grid_component {
		margin-top: 20px;
	}

	.gallery {
		display: grid;
		grid-template-columns: auto auto auto;
		grid-template-rows: auto auto auto auto;
		gap: 20px;
	}

	.gallery_item {
		display: block;
		width: 100%;
		height: 100%;
		object-fit: cover;
	}

	.img1 {
		grid-column-start: 1;
		grid-column-end: 3;
	}

	.img2 {
		grid-column-start: 3;
		grid-column-end: 4;
		grid-row-start: 1;
		grid-row-end: 3;
	}

	.img3 {
		grid-column-start: 1;
		grid-column-end: 2;
		grid-row-start: 2;
		grid-row-end: 5;
	}

	.img4 {
		grid-column-start: 2;
		grid-column-end: 3;
		grid-row-start: 2;
		grid-row-end: 3;
	}

	.img5 {
		grid-column-start: 2;
		grid-column-end: 4;
		grid-row-start: 3;
		grid-row-end: 5;
	}

	.footer {
		padding: clamp(20rem, 55.5rem + -55.4688vw, 28.875rem)
			clamp(12.8125rem, -0.5rem + 27.7344vw, 17.25rem);
	}

	.footer h2 {
		font-size: clamp(7.5rem, 0.5625rem + 14.4531vw, 9.8125rem);
	}
}

@media (width >= 1024px) {
	.rec {
		margin-left: 0;
	}
	.header__theme-menu-list {
		flex-direction: row;
	}
	.nav {
		flex-direction: row-reverse;
		gap: clamp(19.75rem, -3.8855rem + 36.9305vw, 29.375rem);
	}
	.grid {
		display: grid;
		grid-template-columns: repeat(3, 1fr);
		gap: 20px;
	}

	.title h1 {
		font-size: 157px;
	}

	.sectionHow {
		grid-template-columns: 1fr 2fr;
	}
}
